#banner {
  height: 90vh;
  background-image: url(../../assets/image/banner-bg.png);
  background-size: cover;
  background-position: top;
  .banner-wrapper {
    display: flex;
    align-items: center;
    .banner-item {
      text-align: center;
      color: #fff;
      .content-box h3 {
        font-size: 60px;
      }
      .content-box {
        padding-top: 70px;
        button {
          cursor: pointer;
          border: none;
          font-weight: 700;
          font-size: 20px;
          color: #fff;
          background: #252525;
          padding: 14px 40px;
          border-radius: 6px;
          transition: 0.3s ease-in;
          &:hover {
            background: #121212;
          }
        }
      }
    }
  }
  .slick-arrow {
    z-index: 4;
    background: #ffffff7c;
    color: #000;
    font-size: 30px;
    width: 40px;
    height: 40px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
  }
  .slick-prev {
    left: 120px;

    &::before {
      display: none;
      font-size: 30px;
    }
  }
  .slick-next {
    right: 120px;
    &::before {
      display: none;
    }
  }
  .slick-prev,
  .slick-prev,
  .slick-next,
  .slick-next {
    &:hover,
    &:focus {
      color: #000;
      outline: none;
      background: #fff;
    }
  }
}
@media all and (max-width: 980px) {
  #banner {
    height: 100vh;
  }
  #banner .banner-wrapper .banner-item .content-box h3 {
    font-size: 40px;
  }
  #banner .banner-wrapper .banner-item .content-box button {
    font-size: 18px;
  }
}

@media all and (max-width: 768px) {
  #banner .slick-next {
    right: 80px;
  }
  #banner .slick-prev {
    left: 80px;
  }
}

@media all and (max-width: 640px) {
  #banner .banner-wrapper .banner-item .content-box h3 {
    font-size: 36px;
  }
  #banner .slick-next {
    right: 30px;
  }
  #banner .slick-prev {
    left: 30px;
  }
}

@media all and (max-width: 640px) {
  #banner .banner-wrapper .banner-item .content-box button {
    font-size: 16px;
  }
}
@media all and (max-width: 560px) {
  #banner .banner-wrapper .banner-item .content-box h3 {
    font-size: 30px;
  }
  #banner .banner-wrapper .banner-item .content-box button {
    font-size: 14px;
    padding: 12px 24px;
  }
  #banner .slick-prev {
    top: 130%;
    left: 30%;
  }
  #banner .slick-next {
    top: 130%;
    right: 30%;
  }
}
